<div class="d-flex justify-content-center mt-5">
  <form action="" autocomplete="off">
    <div>
      <div class="display-6 text-center" style="font-weight: 500;">
        {{ labelLogin }}
      </div>
      <br />
      <div id="divMensaje"></div>
      <br />
      <div>        
        <div>
          <div>
            <label for="emailusuario">Usuario</label>
          </div>
          <div>            
            <input
              class="form-control"
              [(ngModel)]="emailusuario"
              type="email"
              name="emailusuario"
              id="emailusuarioid"
              placeholder="Ingrese su email"
            />
          </div>
          <div>
            <label for="contraseniapassword">Contrase&ntilde;a</label>
          </div>
          <div>
            <input
              class="form-control"
              [(ngModel)]="passwordusuario"
              type="password"
              placeholder="Ingrese su contrase&ntilde;a"
              name="contraseniapassword"
              id="contraseniapasswordid"
            />
          </div>
        </div>
        <br />
        <div>
          <div>
            <input
              class="btn btn-primary"
              type="button"
              style="width: 100%"
              value="Iniciar sesi&oacute;n"
              (click)="login()"
            />
          </div>
          <br />
          <div>
            <input
              class="btn btn-outline-primary m2"
              type="button"
              value="Registrarse"
              style="width: 100%;"
              (click)="eventoCambioPantalla()"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
