<div class="d-flex justify-content-center mt-3">
  <form action="" autocomplete="off">
    <div>
      <div class="display-6">Registro de usuario</div>
      <br />
      <div id="divMensaje"></div>
      <br />
      <form method="post">
        <div class="mb-3">
          <label for="recipient-identificacion" class="col-form-label"
            >Identificacion:</label
          >
          <input
            name="recipient-identificacion"
            type="text"
            [(ngModel)]="dataPersona.identificacion"
            class="form-control"
            id="recipient-identificacion"
            required
          />
        </div>
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Nombres:</label>
          <input
            type="text"
            name="recipient-name"
            [(ngModel)]="dataPersona.nombres"
            class="form-control"
            id="recipient-name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="recipient-lastname" class="col-form-label"
            >Apellidos:</label
          >
          <input
            name="recipient-lastname"
            type="text"
            [(ngModel)]="dataPersona.apellidos"
            class="form-control"
            id="recipient-lastname"
            required
          />
        </div>
        <div class="mb-3">
          <label for="recipient-edad" class="col-form-label">Edad:</label>
          <input
            name="recipient-edad"
            type="text"
            [(ngModel)]="dataPersona.edad"
            class="form-control"
            id="recipient-edad"
            required
          />
        </div>
        <div class="mb-3">
          <label for="recipient-phone" class="col-form-label">Celular:</label>
          <input
            name="recipient-phone"
            type="text"
            [(ngModel)]="dataPersona.celular"
            class="form-control"
            id="recipient-phone"
            required
          />
        </div>
        <div class="mb-3">
          <label for="recipient-email" class="col-form-label">Email:</label>
          <input
            name="recipient-email"
            type="text"
            [(ngModel)]="dataPersona.email"
            class="form-control"
            id="recipient-email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="recipient-password" class="col-form-label"
            >Password:</label
          >
          <input
            name="recipient-password"
            type="password"
            [(ngModel)]="dataPersona.password"
            class="form-control"
            id="recipient-password"
            required
          />
        </div>
        <div class="mb-3">
            <input
            type="button"
            id="btnGuardar"
            class="btn btn-primary"
            value="Guardar"
            style="width: 100%;"
            (click)="guardar(dataPersona)"
          />
          <br><br>
          <input
            (click)="volverInicio()"
            class="btn btn-outline-primary"
            type="button"
            style="width: 100%;"
            value="Volver a inicio de sesi&oacute;n"
          />                    
        </div>
      </form>
    </div>
  </form>
</div>
