
<app-header
  [titulo]="'VmtDevNg'"
  [email]="email"
  [numero]="numero"
></app-header>

<br />

<div class="p-3">
  <app-modal-persona
    (eventoGuardar)="guardarPersona($event)"
    [nombreBoton]="'Nuevo'"
  ></app-modal-persona>
</div>

<br />

<div class="table-responsive p-3">
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Identificacion</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Edad</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Opciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let persona of dataPersonas">
        <td>{{ persona.id }}</td>
        <td>{{ persona.identificacion }}</td>
        <td>{{ persona.nombres }}</td>
        <td>{{ persona.apellidos }}</td>
        <td>{{ persona.edad }}</td>
        <td>{{ persona.email }}</td>
        <td>{{ persona.celular }}</td>
        <td>
          <app-modal-persona
            [dataPersona]="persona"
            [modalid]="'modalpersona' + persona.id"
            [nombreBoton]="'Editar'"
          ></app-modal-persona>
        </td>
      </tr>
    </tbody>
  </table>
</div>
